$s2condPurple: #a32eff;
$s2condPink: #ff0099;
$s2condOrange: #ff5f55;
$s2condYellow: #ffe600;
$s2condLime: #cdff64;
$s2condMint: #2af1b5;
$secondTest: #1fafa9;
$bgBlack: #121212;
$textBlack: #333;
$borderGray: #777;
