@import '../css/tailwind.css';
@import 'scss/base.scss';

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}
